.App {
  display: flex;
}

.concept-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f0f0f0;
  color: blue;
}

.h-line {
  width: 25%;
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.list {
  width: auto;
  background-color: #f0f0f0;
}

.button-link-column {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  align-items: center;
  background-color: #f0f0f0;
}

.button-link-column:hover {
  color: darkmagenta;
  box-shadow: 20px black;
  opacity: 50%;
  cursor: pointer;
}

.topic-column {
  font-size: large;
  font-weight: bolder;
  padding: 0px;
  height: 100px;
  width: min-content;
  position: relative;
  padding-top: 0px;
  background-color: #f0f0f0;
}

.concept-text {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  align-items: center;
}
h2 {
  font-style: italic;
  font-weight: bold;
}

li {
  list-style: none;
}
