.App {
  display: flex;
}

.App-header {
  display: flex;
  flex-direction: row;
}

.button-link-column {
  max-width: 200px;
  height: 100vh;
  padding: 10px;
  background-color: #f0f0f0;
  font-size: large;
}

.concept-text {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  align-items: center;
}
.topic-link {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px;
}
